[Desktop Entry]
Type=Application
Version=0.5
Name=OctoTray
Comment=Control OctoPrint/Moonraker instances from system tray
Path=/usr/bin
Exec=octotray
Icon=/usr/share/pixmaps/octotray_icon.png
Terminal=false
Categories=Utility;
